[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Nepal-College-of-Information-Technology/AI-Data-Science-Worksop-2024/blob/main/Practice%20Yourself/Assignment_1_Python_basic.ipynb)


# Assignment 1: Python Basics

This assignment consists of three simple questions, three medium-level questions, and four more challenging (optional) questions. Please attempt the first six questions, and try the optional questions if you feel confident.

### Instructions:
- Each question is followed by a code cell. Write your solution in the provided space.
- For optional questions, you can attempt them if you want extra practice.

---

## Simple Questions:


### 1. Print "Hello, Python!"

**Hint**: Use the `print()` function to display text.

In [3]:
print("Hello,Python")

Hello,Python


### 2. Define two variables: one integer and one string. Print them together in a single sentence.

**Hint**: Use `print()` and string concatenation or formatted strings.

In [9]:
age=19
x="i am" +str(age) +"years old."
print (x)

i am19years old.


### 3. Create a list of 5 numbers. Print the sum of the numbers.

**Hint**: Use the `sum()` function.

In [10]:
x=(1,2,3,4,5,)
sum(x)

15


---

## Medium-Level Questions:


### 4. Write a function that takes two numbers and returns their product.

**Hint**: Use the `def` keyword to define a function, and use the `return` statement to return the result.

In [20]:
def main():
    num1=int(input('enter the first number'))
    num2=int(input('enter the second number'))
    return num1*num2
    x(n1,n2)
    print(x)
def x(n1,n2):
    return x
main()

enter the first number20
enter the second number20

400


### 5. Use a `for` loop to print the numbers from 1 to 10.

**Hint**: Use the `range()` function to generate the numbers.

In [23]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10


### 6. Write a function that checks if a number is prime.

**Hint**: A prime number is a number greater than 1 that has no divisors other than 1 and itself.

In [42]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 12
12 is not a prime number.


---

## Optional (More Challenging) Questions:


### 7. Write a program that reverses a string provided by the user.

**Hint**: You can reverse a string by slicing with a negative step `[::-1]`.

In [45]:
def my_function(x):
  return x[::-1]

mytxt = my_function("Sauron is most powerful in middle earth")

print(mytxt)

htrae elddim ni lufrewop tsom si noruaS


### 8. Create a program that finds the factorial of a number.

**Hint**: The factorial of `n` is the product of all positive integers less than or equal to `n`. You can use a loop or recursion to solve this.

In [50]:
num = 99
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 99 is 933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000


### 9. Write a function to calculate the Fibonacci sequence up to a given number.

**Hint**: Each number in the sequence is the sum of the two preceding ones, starting from 0 and 1.

In [51]:
def fibonacci(n):
    n = int(n)

    def fibon(a,b,n,result):
        c = a+b
        result.append(c)
        if c < n:
            fibon(b,c,n,result)
        return result

    return fibon(0,1,n,[])

print(fibonacci(input("Input a number to print sequence up to: ")))

Input a number to print sequence up to: 100
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]


### 10. Find the largest number in a list without using the `max()` function.

**Hint**: Use a loop to compare each element of the list and keep track of the largest value.

In [54]:
my_list = [11,22,33,44,55,888]

max_value = my_list[0]

for val in my_list:
    if val > max_value:
        max_value = val

print(max_value)

888